html {
    width: 100%;
    
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body { 
    
    width: 1366px;
    height: 1800px;
    margin: 0px;
   
}
.h2 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h4 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}


    
    

.hrefclass {
    color: black;
    text-decoration: none;
}
/* barra de navegação*/
.orangeline {
    background-color: #F38222;
    height: 5px;
    padding: 5px;
}

.blackline {
    background-color: #000000;
    height: 5px;
    padding: 5px;
    margin: 0px;
}
.navegaçãodiv {
    position: relative;
}
.logodiv {
    display: inline-block;
    margin-right: 70px;
}
.logo{
    cursor: pointer;
}
.sectionnavdiv {
    display: inline-block;
    position:absolute;
    margin-top:3%;
    
}
.btn1nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;


}
.btn2nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn3nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn4nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn5nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.btnnav {
    font-size: 32px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.blacklinep {
    background-color: #000000;
    height: 2px;
    padding: 2px;
}
/*começo de estilização da página*/
.titlepagdiv {
    margin:75px;
    text-align: center;
}
.texttitleh1 {
    display: inline-block;

    
}
.texth1 {
    font-size: 48px;
    margin:0px;

}
    
    

/*começo do card*/
.cardcaldiv {
    position: relative;
    align-items: center;
    margin-left: 196.5px;
    margin-right: 196.5px;
    text-align: center;
    width: 973px;
    height: 520px;
    background-color:#F38222;
    border-style: solid;
    border-color:#000000;
    border-width:10px;
    box-shadow: 0.0em 0.0em 0.4em #000000;

}

.titlecard {
    margin: 40px;
    text-shadow: 0.0em 0.0em 0.4em #ffffff;

}

/* primeiro input perguntando km*/
.kmcaixadiv {
    margin-bottom: 5px;
}
#km1button {
    width: 190px;
    height: 52px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

}
/*segundo input perguntando tempo*/
.tempocaixadiv {
    margin-bottom: 45px;
    text-align: center;
    
}
.horas{
    margin:5px;
    
}
.minutos{
    margin:5px;
}
.segundos{
    margin:5px;
}
#horasbutton {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    width: 190px;
    height: 52px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#minutosbutton {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    width: 190px;
    height: 52px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#segundosbutton {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    width: 190px;
    height: 52px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*botão que é para calcular*/
.calcularbutton {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    background-color:#000000;
    color: #ffffff;
    height: 52px;
    width: 190px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    
    
}
.calcularbutton:hover{
    background-color: #1d1b1b;
    text-shadow: 0.1em 0.1em 0.2em #ffffff;
}
.calcula {
    margin:0px;
    font-size: 24px;
}
.buttoncalculadoradiv {
    margin-bottom: 45px;
}
/*resultado*/
.divinputresultadokm {
  
    color: #000000;
}
.divinputresultadopace {
    
 
    color: #000000;
}
.resultadocard {
    box-shadow: 0.0em 0.0em 1.6em #ffffff;

    position: absolute;
    display: inline-block;
    justify-content: center;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    height: 100px;
    width: 200px;
   margin-top: 10px;
   left:07%;
    top: 30%;
    background-color:#ffffff;
}
#resultadopace {
    margin-bottom: 12px;
    color:#000000;
    font-size: 24px;
    
    
}
#resultadokm {
    margin-bottom: 0px;
    margin-top: 12px;
    font-size: 24px;
    color:#ff0000;;
    
}
/*segundo card*/
.card2caldiv {
    box-shadow: 0.0em 0.0em 0.4em #000000;
    position: relative;
    align-items: center;
    margin-left: 196.5px;
    margin-right: 196.5px;
    text-align: center;
    width: 973px;
    height: 520px;
    background-color:#F38222;
    border-style: solid;
    border-color:#000000;
    border-width:10px;
    margin-top: 45px;
    margin-bottom: 45px;
    
}
.resultadocard2 {
    box-shadow: 0.0em 0.0em 1.6em #ffffff;

    position: absolute;
    display: inline-block;
    justify-content: center;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    height: 100px;
    width: 200px;
   margin-top: 10px;
   left:7%;
    top: 30%;
    background-color:#ffffff;
}
.divinputresultadopace2 {
    
 margin:32px;
    color: #000000;
}
.pacecaixadiv2 {
    margin:45px;
}
#pacepreciso {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    width: 190px;
    height: 52px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
}
#metragem {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    width: 190px;
    height: 52px;
    border-style: solid;
    border-width: 5px;
    border-color:#000000;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color:#000000;
}
#tempopreciso {
    box-shadow: 0.0em 0.0em 0.8em #ffffff;

    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 24px;
    color:#ff0000;;
}

/*rodapé*/
.rodapédiv {
    padding-top: 30px;
    background-color: #000000;
    position: relative;
    text-align: center;
    

}
.orange2line {
    background-color: #F38222;
    height: 10px;
    padding: 10px;
}

.logoinstadiv {
   text-align: center;
   height: 64px;

 
}
.logofacediv {
    margin-top: 20px;
    text-align: center;
position: relative;
height: 64px;
         
}

.logoinsta, .logoface{
    height: 50px;
    width: 50px;
    cursor: pointer;
    
}

.creditbrito {
    text-align: center;
    
    
}
.h4credit {
    margin-top: 50px;
    color: #ffffff;
    padding-bottom: 30px;
}
.h4mkt2{
    padding: 14px;
    display:inline-block;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.h4mkt1{
    padding: 14px;
    display:inline-block;
    color: #ffffff;
    margin-bottom: 0px;
    
    
}
