html{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.orange2line {
    background-color: #F38222;
    height: 10px;
    padding: 10px;
}
.orangeline {
    background-color: #F38222;
    height: 5px;
    padding: 5px;
}
.hrefclass {
    color: black;
    text-decoration: none;
}

.blackline {
    background-color: #000000;
    height: 5px;
    padding: 5px;
    margin: 0px;
}
body {
    width: 1366px;
    height: 2900px;
    margin: 0px;
}
.h3 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h2 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h4 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}
.btnblack {
    position: absolute;
    font-size: 24px;
    width: 200px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color:#000000;
    border-style: solid;
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    
}
.btnblackmenor {
    position: absolute;
    font-size: 24px;
    width: 150px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color:#000000;
    border-style: solid;
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
}

      
/*navegação*/
.navegaçãodiv {
    position: relative;
}
.logodiv {
    display: inline-block;
    margin-right: 70px;
}
.logo{
    cursor: pointer;
}
.sectionnavdiv {
    display: inline-block;
    position:absolute;
    margin-top:3%;
    
}
.btn1nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;


}
.btn2nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn3nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn4nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn5nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.btnnav {
    font-size: 32px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.blacklinep {
    background-color: #000000;
    height: 2px;
    padding: 2px;
}

/*PÁGINA DE CALENDÁRIO DE CORRIDA*/
/*-------------------------------*/
.titlerun {
    display:inline-block;

}
.h1run {
    font-size: 48px;
    margin-bottom:0px;
}
.titlecalrun{
    text-align: center;
}
.card1corridas{
    position: relative;
    text-align: center;
}
.titlecard1 {
    text-align: center;
    margin: 25px;
}
.card2corridas{
    display: inline-block;
    margin: 25px;
    margin-top:0px;
    margin-bottom:0px;
}
.titlecard2{
    text-align: center;
    margin: 25px;
    margin-top:0px;
    margin-bottom:0px;
}
.imagecard2div{
    left: 50px;
}
.card3corridas {
    
    padding-top: 143px;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    margin-top:0px;
    margin-bottom:0px;
}
.imagecard3div {
    
    
}
.titlecard3{
    margin: 25px;
}
.card4corridas{
    text-align: center;
}
.titlecard4{
    margin: 25px;
   
}
.card5corridas {
    text-align: center;
    margin-bottom: 100px;
}
.titlecard5{
    margin:25px;
}
/*borda nas imagens*/
.imagecard1 {
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
}
.imagecard2 {
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
}
.imagecard3 {
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
}
.imagecard4 {
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
}
.imagecard5 {
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
}
/*rodape*/
.rodapédiv {
    padding-top: 30px;
    background-color: #000000;
    position: relative;
    text-align: center;
    

}
.orange2line {
    background-color: #F38222;
    height: 10px;
    padding: 10px;
}

.logoinstadiv {
   text-align: center;
   height: 64px;

 
}
.logofacediv {
    margin-top: 20px;
    text-align: center;
position: relative;
height: 64px;
         
}

.logoinsta, .logoface{
    height: 50px;
    width: 50px;
    cursor: pointer;
    
}

.creditbrito {
    text-align: center;
    
    
}
.h4credit {
    margin-top: 50px;
    color: #ffffff;
    padding-bottom: 30px;
}
.h4mkt2{
    padding: 14px;
    display:inline-block;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.h4mkt1{
    padding: 14px;
    display:inline-block;
    color: #ffffff;
    margin-bottom: 0px;
    
    
}
