

.h2 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h4 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}
.btnblack {
    position: absolute;
    font-size: 24px;
    width: 200px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color:#000000;
    border-style: solid;
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    cursor: pointer;
    
}
.btnblack:hover  {
    background-color: #1d1b1b;
    text-shadow: 0.1em 0.1em 0.2em #ffffff;
    width: 210px;
    height: 55px;
    box-shadow: 0.0em 0.0em 0.8em #000000;

}
.btnblackmenor {
    position: absolute;
    font-size: 24px;
    width: 150px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color:#000000;
    border-style: solid;
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    cursor: pointer;
}
.btnblackmenor:hover {
    background-color: #1d1b1b;
    text-shadow: 0.1em 0.1em 0.2em #ffffff;
    width: 150px;
    height: 45px;
    box-shadow: 0.0em 0.0em 0.8em #000000;

}
footer{
    background-color: #000000;
    
    
}
.hrefclass {
    color: black;
    text-decoration: none;
    
}
/* barra de navegação*/
.btnnav{
    cursor: pointer;
}
.btnnav:hover  {
    text-shadow: 0.0em 0.0em 0.1em #000000;

} 
.orangeline {
    background-color: #F38222;
    height: 5px;
    padding: 5px;
}

.blackline {
    background-color: #000000;
    height: 5px;
    padding: 5px;
    margin: 0px;
}
.navegaçãodiv {
    position: relative;
}
.logodiv {
    display: inline-block;
    margin-right: 70px;
}
.logo{
    cursor: pointer;
}
.sectionnavdiv {
    display: inline-block;
    position:absolute;
    margin-top:3%;
    
}
.btn1nav {
    
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;


}
.btn2nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn3nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn4nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;

}
.btn5nav {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.btnnav {
    font-size: 32px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.blacklinep {
    background-color: #000000;
    height: 2px;
    padding: 2px;
}
/*DIVULGAÇÃO PRINCIPAL BANNER*/
.divfundocomeço {
    height: 400px;
}
.textfundo {
    
    position: absolute;
}
.text1 {
    position:absolute;
    right: 400px;
    top: 240px;
}
.text2 {
    position: absolute;
    right: 400px;
    top: 160px;
}
.text3 {
    position: absolute;
    right: 400px;
    top: 80px;
}
.textfundo {
    font-size: 50px;
    
}
.divfundo1 {
    position: relative;
}
.btnfundodiv {
    position: absolute;
    top: 300px;
    right: 800px;
}
.hrefprincipal {
    text-decoration: none;
    color: #ffffff;
    
}

/* card sobre a missão do grupo*/
.carddiv {
    margin: 100px;
    background-color:#F38222;
    padding: 20px;
    border-color:#000000;
    border-style: solid;
    border-width: 10px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em #ffffff;
}
.carddiv:hover{
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.1em #ffffff;
    box-shadow: 0.0em 0.0em 0.8em #000000;


}
.titlemissão {

}
/*imagem do grupo na são silvestre*/
.grupoimagemdiv {
    height: 594px;
}
/*sobre o professor*/
.h1prof {
    font-size: 48px;
    margin-bottom: 0px;
    
}
.profsobre {
    position: relative;
}
.textprofsobre {
    display: inline-block;
    position: absolute;
    left: 600px;
    top: 110px;
}
.imgprofdiv {
    display: inline-block;
}
.tituloprof {
    margin-bottom: 50px;
    width: 355px;
}
.buttoncontatoprof {
    position: absolute;
    left: 170px;
    bottom:80px;
}
.h4l{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:16px;
}
.list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*imagem do grupo na goodyear*/
.gruponagydiv {
    height:594px;
}
/*locais de treino seção e informações*/
.horariosdiv {
    margin-top: 30px;
    text-align: center;
    margin-bottom:30px;
    
}
.horarios {
    background-color: #F38222;
    display: inline-block;
    border-style: solid;
    border-color:#000000;
    border-width: 10px;
    text-shadow: 0.1em 0.1em 0.1em #ffffff;
}
.horarios:hover  {
   font-size: 32px;
   text-shadow: 0.1em 0.1em 0.2em #ffffff;
   box-shadow: 0.0em 0.0em 0.8em #000000;


}
.divmapa{
    margin: 30px;
    border-style: solid;
    border-width: 10px;
    border-color:#000000;
    height: 450px;
}
.divmapa:hover{
    box-shadow: 0.0em 0.0em 0.8em #000000;
}
.textlow {
    
}
/*aqui é o rodapé*/
.rodapédiv {
    background-color: #000000;
    position: relative;
    text-align: center;
    

}
.orange2line {
    background-color: #F38222;
    height: 10px;
    padding: 10px;
}
.networking {
 margin-top: 30px;
}
.logoinstadiv {
   text-align: center;
   height: 64px;

 
}
.logofacediv {
    margin-top: 20px;
    text-align: center;
position: relative;
height: 64px;
         
}

.logoinsta, .logoface{
    height: 50px;
    width: 50px;
    cursor: pointer;
    
}

.creditbrito {
    text-align: center;
    cursor: pointer;
    
    
}
.creditbrito:hover{
    font-size: 20px;
}
.h4credit {
    margin-top: 50px;
    color: #ffffff;
    padding-bottom: 30px;
}
.h4mkt2{
    padding: 14px;
    display:inline-block;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 0px;    
}
.h4mkt1{
    padding: 14px;
    display:inline-block;
    color: #ffffff;
    margin-bottom: 0px;
    
    
}
.logoface:hover{
    width: 60px;
    height: 60px;
}
.logoinsta:hover {
    width: 60px;
    height: 60px;
}